.contenedor-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tablero{
    background-color: green;
    background-image: url('imagenes/otros/green_bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 33em;
    height: 25em;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenedor-cartas{
    display: flex;
    flex-direction: column;
    align-items: top;
}

.filaCarta{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 1em;

}

.carta{
    width: 4em;
    height: 6em;
    position: relative;
    margin: auto;
    background-repeat: repeat-x;
    background-size: cover;  
    background-position: 0px;
}

.carta:hover{
    bottom: 10px;
}


.mostrando{
    animation: voltear 0.3s steps(5);
    background-position: 64px;
}

.ocultando{
    animation: ocultar 0.3s steps(4);
}


@keyframes voltear {
    0% { background-position:0 }
    100% { background-position: -320px }  
  }
  

@keyframes ocultar {
    0% { background-position:-256px }
    100% { background-position: 0 } 
 }